body {
  background-color: black;
  color: greenyellow;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add {
  background-color: greenyellow;
  color: black;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}

.note_card {
  margin: 10px;
  padding: 10px;
  background-color: yellowgreen;
  color: black;
  border-radius: 4px;
}

section h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

textarea {
  margin: 10px auto;
  height: 250px;
  width: 80%;
  padding: 10px;
}

input {
  padding: 10px 20px;
  background-color: yellowgreen;
  color: black;
  font-weight: bold;
  border-radius: 10px;
  width: 80%;
  margin: 10px auto;
}
